.test{
    color: red;
}

.microMessage{
    display: block;
    background-color: coral;
    padding: 1.5rem 1rem;
    font-size: 2rem;
    color: white;
    margin-bottom: 2rem;
    text-align: center;

}

.book-container{
    margin:300px;
}

.bookPanel{
    margin: 2rem 0;
}

.bookPanel .bookPanel-table{
    width: 100%;
    text-align: center;
    justify-content: space-around;

}

.bookPanel .bookPanel-table thead{
    background-color: lightgreen;

}

.bookPanel .bookPanel-table th{
    padding: 1rem;
    font-size: 2rem;


}

.bookPanel .bookPanel-table tr{
    padding: 1rem;
    font-size: 1rem;
    border-bottom:solid 1px #198754 ;

}

.kr{
    display: inline;
}

admin-product-form-container .centered{
    display: flex;
    align-items:center ;
    justify-content: center;
    min
}